<div class="search-div" style="margin:10px 70px;">
    <app-course-search (searchTextChanged)="onSearchTextEnter($event)"></app-course-search>
    <app-filter 
     [total]="getTotalCourses()"
     [free]="getTotalFreeCourses()"
     [premium]="getTotalPremiumCourses()"
     (filterRadioButtonSelectionChanged)="onFilterRadioButtonChanged($event)"
    ></app-filter>
</div>
<ng-container *ngFor="let c of courses">
    <!-- courseCounterRadioButton === 'All' || courseCounterRadioButton === c.type -->
    <div class="course-container" *ngIf="searchText === '' || c.name.toLowerCase().includes(searchText)">
        <div class="course-card">
          <div><img [src]="c.image" alt="" style="height:140px; width:220px;"></div>
       
        <div class="course-name"><h6>{{c.name}}</h6></div>
        <div class="course-description"><p>{{c.description.slice(0,80)}}...</p></div>
        <div class="details">
            <div class="course-type" [ngStyle]="{color:c.type== 'Free'? 'Green' : 'Red'}">{{c.type}}</div>
            <div class="course-price"><b>Price:</b>${{c.price}}</div>
        </div>
        <div class="course-buttons">
            <button class="btn1">Show details</button>
            <button class="btn2">Buy Now</button>
            <ng-template #notifyme>
                <button class="btn3">Notify Me</button>
            </ng-template>
        </div>
    </div>
    </div>
</ng-container>
