.wrapper{
    background-color: #FDEBD0;
}
.container{
    /* display: flex; */
    /* background-color: #ebe5dd; */
    /* background-color: red; */
    margin: 20px 40px;
    padding: 20px 50px;
    /* background-color: #FDEBD0; */
}
.change-font{
    font-size: large;
}

.user-div{
    display: flex;
    margin: 5px 0px;
}
.user-name{
    width: 80%;
    padding: 10px 30px;
    background-color: #eee;
}
.user-status{
    width: 20%;
    padding: 10px 40px;
    background-color: #FADBD8;
}