<!-- <div class="wrapper">
  <app-conntainer></app-conntainer>
</div> -->

<!-- <div class="container">
  <app-courses-header></app-courses-header>
  <app-courses></app-courses>
</div> -->

<!-- <div class="container">
  <app-demo></app-demo>
</div> -->

<!-- <app-customer-list #selectedValue></app-customer-list>
<p *ngIf="selectedValue.selectedCustomer?.name">You have selected {{selectedValue.selectedCustomer?.name}}</p>

<div class="container">
<div>
  <label>DOB:</label>
  <input type="date" #dobInput (blur)="calculateAge()"/>
</div>
<div>
  <label>Age:</label>
  <input type="text" #ageInput/>
</div>
<div>
  <input type="text" #input/>
  <button (click)="onSubmit(input)">Submit</button>
</div>
<app-demo [value]="inputText">
  <p #paragarph>This is a content</p>
  <p setbackground>Set background color using directive</p>
  <p appHighlight appHover>Set backgroud color using custome Directive rendere2 which doesn't manipulate the DOM directly </p>
  <p appHover>Hover the element using customer directive hover. </p>
  <p appBetterhighlight>Hostbinding Example</p>
  <p appBetterhighlight [defaultBackgroundColor]="'yellow'"> Directive used property binding from child to component used @Input now that property value will be changed whichever we set here</p>

  <p appClass [display]="{container:true ,'change-font':true}">appClass example </p>
</app-demo>
</div> -->

 <!-- <div class="container"> -->
  <!-- <app-courses-header></app-courses-header>
  <app-javascript></app-javascript> -->
   <!-- <app-angular></app-angular> -->
  <!-- <app-courses></app-courses> -->
   <!-- <app-templatedrivenform></app-templatedrivenform> -->
   <!-- <app-adduser></app-adduser>
    <div class="user-div" *ngFor="let user of users">
      <div class="user-name">{{user.name}}</div>
      <div class="user-status">{{user.status}}</div>
      
    </div> -->
    
    <!-- <app-comp2></app-comp2> -->
    <!-- <app-comp1></app-comp1> -->
    
<!-- </div>  -->
 <app-productcomp></app-productcomp>