.search-container{
    margin:10px 0px ;
    padding: 10px 20px;
    background-color: #FAD7A0;
}
input[type=text]{
 width: 240px;
 height: 30px;
 /* margin-left: 20px; */
 margin: 10px;
 border: none;
 /* padding: 0 20px; */
 padding:15px;
}
.changebackground{
    background-color: #FAD7A0;
}